nav .nav-item {
  padding: 10px 20px;

  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #ceb788;
  position: relative;
}


.homeImg h1 {
  font-weight: 900;
  line-height: 140px;
  letter-spacing: 50px;
  font-size: 60px;
  opacity: 100%;
}
.homeImg p {
  letter-spacing: 5px;
  font-weight: 700;
  opacity: unset;
}
.secBox {
  padding: 50px 20px;
}
.secBox .card {
  padding: 20px;
  text-align: justify;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #e4e4e47d;
}
.secBox a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 5px;
}
.secBox .card-tittle {
  font-weight: 700;
  font-size: 20px;
}

.secBox .card-text {
  font-size: 13px;
  font-weight: 400;
}
.three {
  text-align: justify;
  padding: 50px 20px;
}
.three .card {
  width: 420px;
  height: 330px;
  margin-top: 50px;
  border: none;
  border-radius: 30px;
}
.three p {
  font-size: 16px;
}
.three h3 {
  font-weight: 800;
  padding: 20px 0px;
}

.box4 p {
  font-size: 19px;
  text-align: justify;
}
.box4 .row {
  border-radius: 30px;
}

.footer i {
  font-size: 30px;
  padding: 10px;
  margin-left: 50px;
}
.active {
  background-color: #c7ac76;
}
.nav-item:hover {
  background-color: #f8cb72;
}
/* .navbar-header {
    position: absolute;
    background-color: #ceb788;
    border-radius: 50%;
    width: 170px;
    height: 80px;
  }
  .navbar-header img {
    position: absolute;
    background-color: #c7ac76;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: -20px;
  } */

@media only screen and (max-width: 600px) {
  .navbar-header {
    position: relative;
  }
  .navbar-header img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #c7ac76;
    border-radius: 50%;
  }
  .homeImg {
  position: absolute;
  top: 30%;
  background-color: #ffffff;
  border-radius: 21px;
  opacity: 40%;
  width: 450px;
  height: 255px;
  align-items: center;
  text-align: center;
}
} 
@media only screen and (min-width: 600px) {
  .navbar-header {
    position: relative;
  }
  .navbar-header img {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #c7ac76;
    border-radius: 50%;
  }
  .homeImg {
  position: absolute;
  top: 30%;
 
  background-color: #ffffff;
  border-radius: 21px;
  opacity: 40%;
  width: 661px;
  height: 235px;
  align-items: center;
  text-align: center;
}
}
@media only screen and (min-width: 768px) {
  .navbar-header {
    position: relative;
  }
  .navbar-header img {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #c7ac76;
    border-radius: 50%;
  }
  .homeImg {
  position: absolute;
  top: 30%;
  left: 15%;
  background-color: #ffffff;
  border-radius: 21px;
  opacity: 40%;
  width: 661px;
  height: 235px;
  align-items: center;
  text-align: center;
}
}
@media only screen and (min-width: 992px) {
  .navbar-header {
    position: absolute;
    background-color: #ceb788;
    border-radius: 50%;
   
  }
  .navbar-header img {
    position: absolute;
    background-color: #c7ac76;
    border-radius: 50%;
    margin-top: -50px;
    width: 170px;
    height: 170px;
  }
  .homeImg {
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: #ffffff;
  border-radius: 21px;
  opacity: 40%;
  width: 661px;
  height: 235px;
  align-items: center;
  text-align: center;
}
}
@media only screen and (min-width: 1200px) {
  .navbar-header {
    position: absolute;
    background-color: #ceb788;
    border-radius: 50%;
    width: 170px;
    height: 80px;
  }

  .navbar-header img {
    position: absolute;
    background-color: #c7ac76;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: -20px;
  }
  .homeImg {
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 21px;
  opacity: 40%;
  width: 661px;
  height: 235px;
  align-items: center;
  text-align: center;
}
}







